.outer-wrap-card{
    background: var(--light-navy);
}

.inner-wrap-card{
    background: var(--light-gold);
    border-width: 0.2rem;
    border-color: var(--gold);
}

.header{
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.footer{
    background: var(--light-navy);
    color: rgba(255, 255, 255, 0.9);
}